#
# This source file is part of the Stanford Spezi open-source project
#
# SPDX-FileCopyrightText: 2022 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: Build-and-Test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  package_tests:
    name: Build and Test Swift Package ${{ matrix.platform.name }} (${{ matrix.config }})
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        config: [Debug]
        platform:
          - name: iOS
            destination: 'platform=iOS Simulator,name=iPhone 17 Pro'
          - name: macOS
            destination: 'platform=macOS,arch=arm64'
          - name: watchOS
            destination: 'platform=watchOS Simulator,name=Apple Watch Series 11 (46mm)'
          - name: visionOS
            destination: 'platform=visionOS Simulator,name=Apple Vision Pro'
          - name: tvOS
            destination: 'platform=tvOS Simulator,name=Apple TV 4K (3rd generation)'
      fail-fast: false
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: Spezi-Package
      destination: ${{ matrix.platform.destination }}
      buildConfig: ${{ matrix.config }}
      resultBundle: ${{ format('Spezi-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
      artifactname: ${{ format('Spezi-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
  ui_tests:
    name: Build and Test UI Tests ${{ matrix.platform.name }} (${{ matrix.config }})
    uses: StanfordBDHG/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        config: [Debug]
        platform:
          - name: iOS
            destination: 'platform=iOS Simulator,name=iPhone 17 Pro'
          - name: visionOS
            destination: 'platform=visionOS Simulator,name=Apple Vision Pro'
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      path: 'Tests/UITests'
      scheme: TestApp
      destination: ${{ matrix.platform.destination }}
      resultBundle: ${{ format('TestApp-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
      artifactname: ${{ format('TestApp-{0}-{1}.xcresult', matrix.platform.name, matrix.config) }}
  buildandtest_linux:
    name: Build and Test Swift Package Linux
    uses: StanfordBDHG/.github/.github/workflows/swift-test.yml@v2
    strategy:
      matrix:
        config: [Debug, Release]
    with:
      artifact_name: ${{ format('SpeziFoundation-Package-Linux-{0}.lcov', matrix.config) }}
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [package_tests, ui_tests, buildandtest_linux]
    uses: StanfordBDHG/.github/.github/workflows/create-and-upload-coverage-report.yml@v2
    with:
      coveragereports: Spezi-*.xcresult TestApp-*.xcresult
      coveragereports_lcov: SpeziFoundation-Package-Linux-*.lcov
    secrets:
      token: ${{ secrets.CODECOV_TOKEN }}
